dist: xenial
os: linux
language: python
jobs:
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
cache:
  directories:
    - $HOME/.cache/pip
install:
  - pip install tox coveralls
script:
  - tox --recreate
after_success:
  - coveralls
