# coding=utf-8

from guniflask.config import settings
from guniflask.security import current_user, login_required, roles_required, authorities_required

from {{project_name}}.app import db, config
from {{project_name}}.app import jwt_manager
