# coding=utf-8

import logging

from flask import Flask, Blueprint

from {{project_name}}.utils import walk_modules
from {{project_name}} import config
from {{project_name}}.logging import configure_app_logger, configure_logger
from {{project_name}}.settings import settings

log = logging.getLogger(__name__)


def set_app_config(app):
    for k, v in settings.items():
        if k.isupper():
            app.config[k] = v

    make_settings = getattr(config, 'make_settings', None)
    if make_settings:
        make_settings(app, settings)

    log.info('{{project_name}} active profiles: %s', settings['active_profiles'])


def init_app(app):
    # CORS
    if settings['cors']:
        try:
            from flask_cors import CORS
            if isinstance(settings['cors'], dict):
                CORS(app, **settings['cors'])
            else:
                CORS(app)
        except (ModuleNotFoundError, ImportError) as e:
            log.error('Failed to set CORS: %s', e)

    # database configuration
    if 'SQLALCHEMY_DATABASE_URI' in app.config:
        try:
            from {{project_name}}.db import db
            db.init_app(app)
        except (ModuleNotFoundError, ImportError) as e:
            log.error('Failed to set database: %s', e)


def register_blueprints(app):
    def iter_blueprints():
        for module in walk_modules('{{project_name}}.blueprints'):
            for obj in vars(module).values():
                if isinstance(obj, Blueprint):
                    yield obj

    for b in iter_blueprints():
        app.register_blueprint(b)


def create_app():
    app = Flask(__name__)
    gunicorn_logger = logging.getLogger('gunicorn.error')
    configure_app_logger(app, gunicorn_logger)
    configure_logger('{{project_name}}', gunicorn_logger)
    register_blueprints(app)
    set_app_config(app)
    init_app(app)

    return app
