# coding=utf-8

import os
from os.path import join
import copy
from collections import MutableMapping
import inspect

from {{project_name}} import config
from {{project_name}}.utils import load_config, load_profile_config


class BaseSettigns(MutableMapping):
    def __init__(self, values=None):
        self.attributes = {}
        self.update(values)

    def __getitem__(self, name):
        if name not in self:
            return None
        return self.attributes[name]

    def __contains__(self, name):
        return name in self.attributes

    def get(self, name, default=None):
        return self[name] if self[name] is not None else default

    def getbool(self, name, default=None):
        v = self.get(name, default)
        return getbool(v)

    def getint(self, name, default=None):
        v = self.get(name, default)
        return getint(v)

    def getfloat(self, name, default=None):
        v = self.get(name, default)
        return getfloat(v)

    def getlist(self, name, default=None):
        v = self.get(name, default)
        return getlist(v)

    def __setitem__(self, name, value):
        self.set(name, value)

    def set(self, name, value):
        self.attributes[name] = value

    def update(self, values):
        if values is not None:
            if isinstance(values, BaseSettigns):
                for name in values:
                    self.set(name, values[name])
            else:
                for name, value in values.items():
                    self.set(name, value)

    def delete(self, name):
        del self.attributes[name]

    def __delitem__(self, name):
        del self.attributes[name]

    def copy(self):
        return copy.deepcopy(self)

    def __iter__(self):
        return iter(self.attributes)

    def __len__(self):
        return len(self.attributes)


def getbool(v):
    try:
        return bool(int(v))
    except (ValueError, TypeError):
        if v in ("True", "true"):
            return True
        if v in ("False", "false"):
            return False
    return None


def getint(v):
    try:
        return int(v)
    except (ValueError, TypeError):
        pass
    return None


def getfloat(v):
    try:
        return float(v)
    except (ValueError, TypeError):
        pass
    return None


def getlist(v):
    if v is None:
        return None
    if isinstance(v, str):
        v = v.split(",")
    elif not hasattr(v, "__iter__"):
        v = [v]
    return list(v)


class Settings(BaseSettigns):
    def __init__(self, values=None):
        super().__init__()

        c = {}
        for k, v in vars(config).items():
            c[k] = v
        conf_dir = os.environ.get('GUNIFLASK_APP_CONF_DIR')
        if conf_dir:
            c.update(load_config(join(conf_dir, '{{project_name}}.py')))
            active_profiles = c.get('active_profiles')
            c.update(load_profile_config(conf_dir, '{{project_name}}', profiles=active_profiles))
            c['active_profiles'] = active_profiles
        for name in c:
            if not name.startswith('_') and not inspect.ismodule(c[name]) and not inspect.isfunction(c[name]):
                self[name] = c[name]
        self.update(values)


settings = Settings()
